tqdm==4.66.4
git+https://github.com/lucidrains/vector-quantize-pytorch.git@9502a1f
transformers==4.41.0
tensorboard==2.16.2
accelerate==0.30.1
torchvision==0.18.0
diffusers==0.28.0
datasets==2.19.1
lpips==0.1.4
lightning==2.1.4
xformers==0.0.26.post1

wandb
calflops
matplotlib
git+https://github.com/microsoft/mup.git

# For flash-attn
wheel
packaging
ninja
